<app-progress [show]="showProgress"></app-progress>

<div class="d-flex flex-row bd-highlight h-100 w-100">
    <app-progress [show]="showProgress"></app-progress>

    <div class="d-flex flex-column w-25 border overflow-auto" aria-label="alertDetails">

        <div class="d-flex flex-column h-50" aria-label="userDetails">
            <div class="d-flex flex-row">
                <div class="w-50 mt-2">
                    <div class="text-muted bg-light border click alerts" (click)="onReturn()" matTooltip="Go Back"
                        matTooltipPosition="above">
                        <span class="btn text-muted pt-2"><i class="fas fa-chevron-left"></i></span>
                        <span class="mr-2 align-middle text-primary"><img src="../../../assets/images/numr_icon.png"
                                style="height:20px;" /></span>
                        <span class="align-middle text-primary d-inline-block mt-1 goBack">ALERTS</span>
                    </div>
                </div>
                <div class="w-50 text-right mt-2">
                    <!-- <span *ngIf="alert?.showNotification" class="btn text-success rounded border pl-2 pr-2 mr-2"><i
                            class="fas fa-bell"></i></span> -->
                    <span class="btn text-secondary rounded border pl-2 pr-2 mr-2">
                        <i class="fas fa-bell-slash" matTooltip="Notifications ON/OFF" matTooltipPosition="above"></i>
                    </span>
                </div>
            </div>

            <div class="h-75 mt-3">
                <div class="d-flex flex-column" style="margin-left: 40px;">
                    <div class="d-flex flex-row mb-1">
                        <span class="font-weight-bold d-inline-block text-truncate w-100 font-size-150"
                            [matTooltip]="alert?.respondentName" matTooltipPosition="above">{{alert?.respondentName}}
                        </span>
                    </div>
                    <div class="small text-muted mb-1">Open:
                        <b class="font-size-100 font-weight-normal"
                            style="margin-left: 35px;">{{transformedAlertProperties.openedOn}}
                            <span *ngIf="alert?.status!=Status.CLOSED">({{transformedAlertProperties.openHours}}
                                HOURS)</span>
                        </b>
                    </div>
                    <div class="mb-1">
                        <span class="small text-muted">Status: </span>
                        <mat-form-field class="form-field pb-0" style="margin-left: 30px;">
                            <mat-select class="small text-primary pb-0 " [(value)]="status"
                                (selectionChange)="updateStatus()">
                                <mat-option [value]="Status.NEW">New</mat-option>
                                <mat-option [value]="Status.WAITING_ON_CUSTOMER">Waiting on Customer</mat-option>
                                <mat-option [value]="Status.WAITING_ON_US">Waiting on Us</mat-option>
                                <mat-option [value]="Status.CLOSED">Closed</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <span class="small text-muted">Priority: </span>
                        <mat-form-field class="form-field " style="margin-left:25px;">
                            <mat-select class="small text-primary" [(value)]="priority"
                                (selectionChange)="updatePriority()">
                                <mat-option [value]="Priority.HIGH">High</mat-option>
                                <mat-option [value]="Priority.MEDIUM">Medium</mat-option>
                                <mat-option [value]="Priority.LOW">Low</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <span class="small text-muted">Assigned to: </span>
                        <mat-form-field class="form-field">
                            <mat-select class="small text-primary" [(value)]="assignedTo"
                                (selectionChange)="updateAssignedTo()">
                                <mat-option *ngFor="let member of alertMembers" [value]="member.member">
                                    {{member.memberName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row mt-3">
                        <span class="btn btn-circle border p-0" matTooltip="Create a note" matTooltipPosition="above"
                            (click)="openNotesDialog()"><i class="fas fa-edit text-secondary"></i>
                            <div class="text-center mt-2 font-size-80">Note</div>
                        </span>
                        <span class="btn btn-circle border p-0" matTooltip="Create an email" matTooltipPosition="above"
                            (click)="openEmailDialog()"><i class="fas fa-envelope text-secondary"></i>
                            <div class="text-center mt-2 font-size-80">Email</div>
                        </span>
                        <span class="btn btn-circle border p-0" matTooltip="Make a phone call"
                            matTooltipPosition="above" (click)="openPhoneCallDialog()"><i
                                class="fas fa-phone-alt text-secondary"></i>
                            <div class="text-center mt-2 font-size-80">Call</div>
                        </span>
                        <span class="btn btn-circle border p-0" matTooltip="Upload file" matTooltipPosition="above"
                            (click)="openFileUploadDialog()"><i class="fas fa-upload text-secondary"></i>
                            <div class="text-center mt-2 font-size-80">Upload</div>
                        </span>
                        <span class="btn btn-circle border p-0" title="View Survey" matTooltip="View survey"
                            matTooltipPosition="above" (click)="openSurveyViewDialog()">
                            <i class="fas fa-scroll text-secondary"></i>
                            <div class="text-center mt-2 font-size-80">Survey</div>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-2 mb-2" aria-label="separator">
            <hr>
        </div>

        <div class="d-flex flex-column h-25 " aria-label="aboutAlert">

            <div class="d-flex flex-column small mt-2 mr-3" style="margin-left: 40px;">
                <span class="font-weight-bold font-size-120 ">About this Alert</span><br>

                <div class="d-flex mb-4 flex-column" *ngFor="let displayField of displayedSelectedFields">
                    <div class="col-12 bolder pl-0">{{displayField.variableText}} : </div>
                    <div class="text-secondary col-12 pl-0 pr-0">{{displayField.answer}}</div>
                </div>

                <br><br>
                <button *ngIf="isProjectUser" class="btn btn-block btn-light w-75 mb-4"
                    (click)="openVariableSelectorDialog()"><i class="fas fa-plus"></i> Add Fields</button>
            </div>

        </div>

    </div>

    <div class="d-flex flex-column bg-light w-75 p-4 alert-activity" aria-label="emailContent">

        <div class="d-flex flex-row">

            <div class="d-flex flex-column w-50">
                <span class="font-weight-bold font-size-120">Activity</span>
                <div class="w-100 p-2 pb-0" style="background-color: #f4f4f4;">
                    <span class="font-size-100 font-weight-bold text-muted rounded">Filter by:</span>
                    <div class="d-inline ml-1">
                        <mat-form-field class="form-field" style="background-color: #fff;height: 30px;">
                            <mat-select class="small font-weight-bold text-primary" multiple
                                [(value)]="selectedStatuses" (openedChange)="onActivityFilterOpenChange($event)"
                                (selectionChange)="disableSelectAll('activity')">
                                <mat-checkbox style="padding-left: 16px;" [(ngModel)]="statusesSelectAll"
                                    (change)="selectAll('activity')">All
                                </mat-checkbox>
                                <mat-option *ngFor="let item of statuses" [value]="item.value">
                                    {{item.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="d-inline ml-1">
                        <mat-form-field class="form-field" [floatLabel]="'never'" style="background-color: #fff;height: 30px;">
                            <mat-label class="font-size-80 text-body p-2 font-weight-bold">All Users</mat-label>
                            <mat-select class="small font-weight-bold text-primary" multiple [(value)]="selectedMembers"
                                (openedChange)="onActivityFilterOpenChange($event)"
                                (selectionChange)="disableSelectAll('members')">
                                <mat-checkbox style="padding-left: 16px;" [(ngModel)]="membersSelectAll"
                                    (change)="selectAll('members')">All
                                </mat-checkbox>
                                <mat-option *ngFor="let item of alertMembers" [value]="item.member">
                                    {{item.memberName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="w-50 text-right">
                <div class="small text-muted font-weight-bold">MEMBERS</div>
                <span *ngFor="let name of transformedAlertProperties.memberInitials">
                    <span class="btn btn-circle p-0 border text-center font-weight-bold pt-1"
                        matTooltip="{{name.fullName}}" matTooltipPosition="above"
                        (click)="openDeleteMembersDialog()">{{name.initials}}</span>
                </span>
                <span *ngIf="alert?.alertMembers.length>4"
                    class="btn btn-circle p-0 border text-center font-weight-bold pt-1"
                    (click)="openDeleteMembersDialog()">+{{alert.alertMembers.length - 4}}</span>
                <span class="btn btn-circle p-0 border" matTooltip="Add members to this alert"
                    matTooltipPosition="above" (click)="openAddMembersDialog()"><i class="fas fa-plus"></i></span>
            </div>
        </div>

        <app-alert-activities [activities]="alertActivities" [statusFilters]="activityFilters.status"
            [userFilters]="activityFilters.members" [alertId]="routeParameters.alertId"
            [alertPipelineId]="routeParameters.pipelineId" class="overflow-auto mt-3">
        </app-alert-activities>
    </div>
</div>