<div class="d-flex flex-column h-100">

    <div class="flex-fill">
        <div class="p-3 bg-dark font-size-120 text-white"><i class="fas fa-upload mr-2"></i>Upload File
            <img src="../../../assets/images/delete.png" class="click float-right" (click)="onDialogCancel()">
        </div>
        <app-progress [show]="showProgress" class="position-relative"></app-progress>

        <div class="border m-3 p-3" style="border-style: dashed!important;">
            <div class="text-center h-50">
                <img src="../../../assets/images/upload.png" style="max-width: 150px; max-height: 150px;">
            </div>

            <div class="d-flex flex-column mt-4 ml-3">
                <div class="border rounded w-100 p-2">
                    <input type="file" id="uploaded-file" class="w-100" name="filename" (change)="onFileUpload($event)">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-end mb-1 mt-3 pr-3 pb-3">
        <button class="btn btn-outline-secondary m-1" (click)="onDialogCancel()">Cancel</button>
        <button type="button" class="m-1 btn btn-primary" (click)="uploadFile()">Upload</button>
    </div>

</div>