.middle-allign {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.routeLink {
  cursor: pointer;
}

.routelink:hover {
  text-decoration: underline;
}

.alert-box:hover{border-color:#2200ff!important}
.text-primary{color:#2200ff!important}
.bolder{font-weight: 700;}